{extend name='layout/public'/}

{block name='content'}

<script language='javascript'>if (parent.$$('admincpnav')) parent.$$('admincpnav').innerHTML = '后台首页&nbsp;&raquo;&nbsp;广告&nbsp;&raquo;&nbsp;广告编辑';</script>

<script type="text/javascript" src="/console/js/calendar/calendar.js"></script>
<script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/ueditor/ueditor.all.min.js"></script>

<form   method="post" action="{:url('edit')}">
    <table class=tb width="100%" id="tb">
        <tr class=thead>
            <th colspan=2>广告编辑</th>
        </tr>

        <tr class="tdbg">
            <td width="88" valign="middle" align="right"><span class=red>*</span> 广告位置：</td>
            <td height="0" align="left" valign="middle">
                <select name="adsposition">
                    <option></option>
                    {foreach name='categorys' item='vo'}
                    <option {if condition="$ads['adsposition']==$vo['id']"}selected{/if} value="{$vo['id']}">{$vo['_cnname']}</option>
                    {/foreach}
                </select>
                <span class=gray></span>
            </td>
        </tr>

        <tr class=tdbg>
            <td valign="middle" align="right"><span class=red>*</span>广告名称：</td>
            <td><input name="adsname" type="TEXT" style='width:380px;' maxlength=200 value="{$ads['adsname']}">
        </tr>

        <tr class=tdbg>
            <td valign="middle" align="right">链接地址：</td>
            <td><input name="linkurl" type="TEXT" style='width:380px;' maxlength=200 value="{$ads['linkurl']}"></td>
        </tr>

        <tr class=tdbg>
            <td valign="middle" align="right"><span class=red>*</span>广告文件：</td>
            <td valign="middle">
                <input name="adsfile" type="text" id="smpic" class="input normal upload-path" value="{$ads['adsfile']}"/>
                <div class="upload-box upload-img"></div>
                <span class=gray>缩略图内存大小 200K 左右</span>
            </td>
        </tr>

        <tr class=tdbg>
            <td valign="middle" align="right">排序：</td>
            <td><input name="sortid" type="TEXT" style='width:180px;' maxlength=200 value="{$ads['sortid']}"></td>
        </tr>

        <tr class=tdbg>
            <td valign="middle" align="right">状态：</td>
            <td valign="middle">
                <input type=radio class="np" name=checked value=1 {if condition="$ads['checked']==1"} checked {/if}>已审核
                <input type=radio class="np" name=checked value=0 {if condition="$ads['checked']==0"} checked {/if}>待审核
            </td>
        </tr>

        <tr class="tdbg">
            <td ></td>
            <td align="left" >
                <input type="hidden" name="id" value="{$ads['id']}">
                <input class="btn" type="submit" value="确定" name="">
                &nbsp;
                <input type="reset" value="清 除" name="" class="btn">
            </td>
        </tr>
    </table>
</form>


{/block}


{block name='js'}
<script type="text/javascript" charset="utf-8" src="http://console.uicdn.cn/assets/js/webuploader/webuploader.min.js "></script>
<script type="text/javascript" charset="utf-8" src="http://console.uicdn.cn/assets/js/uploader.js"></script>
<script language="javascript" type="text/javascript">

    $(function () {
        $(".upload-img").InitUploader({sendurl: "{:url('/admin/tools/upload')}", swf: "http://console.uicdn.cn/assets/js/webuploader/uploader.swf" });
    })
</script>
{/block}



