{extend name='layout/public'/}

{block name='content'}
    <script language='javascript'>if (parent.$$('admincpnav')) parent.$$('admincpnav').innerHTML = '后台首页&nbsp;&raquo;&nbsp;留言&nbsp;&raquo;&nbsp;留言查看';</script>

    <script type="text/javascript" src="/console/js/calendar/calendar.js"></script>
    <script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="/ueditor/ueditor.all.min.js"></script>

    <!--<form method="post" action="{:url('edit')}">-->
        <table class=tb width="100%" id="tb">
            <tr class=thead>
                <th colspan=2>留言查看</th>
            </tr>


            <tr class=tdbg>
                <td valign="middle" align="right"><span class=red>*</span>学员姓名：</td>
                <td><input name="name" type="TEXT" style='width:380px;' maxlength=200 value="{$message['name']}"></td>
            </tr>

            <tr class=tdbg>
                <td valign="middle" align="right"><span class=red>*</span>联系方式：</td>
                <td><input name="phonenum" type="TEXT" style='width:380px;' maxlength=200 value="{$message['phonenum']}"></td>
            </tr>

            <tr class=tdbg>
                <td valign="middle" align="right"><span class=red>*</span>年级：</td>
                <td><input name="nianji" type="TEXT" style='width:380px;' maxlength=200 value="{$message['nianji']}"></td>
            </tr>

            <tr class=tdbg>
                <td valign="middle" align="right"><span class=red>*</span>学科：</td>
                <td><input name="xueke" type="TEXT" style='width:380px;' maxlength=200 value="{$message['xueke']}"></td>
            </tr>


            <tr class=tdbg>
                <td valign="middle" align="right"><span class=red>*</span>日期</td>
                <td>&nbsp;
                    <INPUT NAME="addtime" value="{:date('Y-m-d H:i',$message['addtime']);}" id="pubdate" TYPE="TEXT"
                           SIZE=30 maxlength=30>
                </td>
            </tr>



            <tr class="tdbg">
                <td ></td>
                <td align="left" >
                    <!--<input type="hidden" name="id" value="{:input('param.id')}">-->
                    <!--<input class="btn" type="submit" value="确定" name="">&nbsp;&nbsp;-->

                    <a href="{:url('index')}">返回</a>&nbsp;&nbsp;
                    <a href="javascript:window.print()">打印</a>&nbsp;&nbsp;

                </td>
            </tr>

        </table>
    <!--</form>-->
{/block}

{block name='js'}
<script type="text/javascript" charset="utf-8" src="http://console.uicdn.cn/assets/js/webuploader/webuploader.min.js "></script>
<script type="text/javascript" charset="utf-8" src="http://console.uicdn.cn/assets/js/uploader.js"></script>
{/block}

