{extend name='layout/public'/}

{block name='content'}
<script language='javascript'>if (parent.$$('admincpnav')) parent.$$('admincpnav').innerHTML = '后台首页&nbsp;&raquo;&nbsp;留言&nbsp;&raquo;&nbsp;留言管理';</script>


<table class=tb width="100%">
    <tr class=thead>
        <th colspan=8>留言管理</th>
    </tr>


    <form method="get">

        <td height="12" colspan="6" align="left"> 搜索：
            <input name="title" type="text" size="20" maxlength="255" value="{$title}"/>
            &nbsp;&nbsp;<input name="button" type="submit" value="搜 索" class="btn"/>
        </td>

    </form>

    <form name="iForm" id="iForm" action="" method="post">
        <tr class="dtit">
            <td width="4%">ID</td>

            <td width="30%">姓名</td>

            <td width="30%">联系方式</td>


            <td>日期</td>
            <td>操作</td>
        </tr>

        {foreach name='message' id='mes'}
        <tr class="tdbg li">
            <td><input type="checkbox" name="nid[]" id="nid" value="{$mes['id']}" class="np"/></td>



            <td width="30%"><a href="{:url('edit',['id'=>$mes['id']])}" style="color:#0066FF">{$mes['name']}</a></td>
            <td width="3%">{$mes['phonenum']}</td>


            <td>{:date('Y-m-d H:i',$mes['addtime'])}</td>


            <td>
                <a href="{:url('edit',['id'=>$mes['id']])}">查看</a>
                <a class="del" href="javascript:void(null)" data-url="{:url('del',['id'=>$mes['id']])}">删除</a>
            </td>
        </tr>
        {/foreach}

        <tr class="tdbg">
            <td colspan="6">

                全选<input type="checkbox" name="chkall" id="chkall" class="chk"
                         onclick="checkAll(this.checked,'input','nid[]')"/>
                反选<input type="checkbox" name="chkothers" id="chkothers" class="chk"
                         onclick="checkOthers('input','nid[]')"/>
                操作：
                <select name="Action">
                    <option value="Pass">审核</option>
                    <option value="NoPass">取消审核</option>
                    <option value="Del">删除</option>
                </select>&nbsp;

                <input name="b4" type="button" value="执行" class="btn" onClick="return RunAction(this.form)">
            </td>
        </tr>

        <tr class="tdbg">
            <td colspan="7">
                <div class='pages'>
                    <ul>页次：
                        {$message->getCurrentPage()}/{$message->lastPage()} 页 &nbsp;共{$message->total()}条记录
                    </ul>
                        {$message->render()}
                </div>
            </td>
        </tr>

    </form>
</table>

{/block}

{block name='js'}
<script>

    $(function () {
        $(".del").click(function () {
            var delurl = $(this).data('url');
            parent.layer.confirm('确定删除此信息？', {
                btn: ['确认', '取消'] //按钮
            }, function () {
                parent.layer.closeAll();
                location.href = delurl;
            });
        });
    });


    function RunAction(theform) {
        if (checkSub(theform, 'nid[]') >= 1) {
            //submitConfirm("你确定要执行此操作吗？");
            // return false;
            parent.layer.confirm('你确定要执行此操作吗？', {
                btn: ['确认', '取消'] //按钮
            }, function () {
                parent.layer.closeAll();
                $("#iForm").submit();
            });
        }
        else {
            layer.msg('请最少选择一条信息进行操作');
//          return false;
        }
    }

</script>
{/block}