{extend name='layout/public'/}

{block name='content'}
    <script language='javascript'>if (parent.$$('admincpnav')) parent.$$('admincpnav').innerHTML = '后台首页&nbsp;&raquo;&nbsp;信息&nbsp;&raquo;&nbsp;分类编辑';</script>


<form method="POST"    action="{:url('edit')}">
    <table width="100%" class="tb" id=tb>
        <tr class=thead>
            <th colspan="2">类别添加</th>
        </tr>
        <tr class="tdbg">
            <td width="88"  align="right">所属类别：</td>
            <td   align="left" >
                <select name="parentid" style="color:#000000;">
                    <option value='0'>↑根目录</option>
                    {foreach name='categorys'   item='vo'}
                    <option value="{$vo['id']}" {if condition="$category['parentid']==$vo['id']"} selected {/if} >{$vo['_cnname']}</option>
                    {/foreach}

                </select></td>
        </tr>
        <tr class="tdbg">
            <td  align="right"> 类别名称 ：</td>
            <td ><input   type="text"   name="cnname"  maxlength="20" value="{$category['cnname']}"/>
            </td>
        </tr>

        <!--<tr class="tdbg">-->
            <!--<td  align="right">类别英文名称 ：</td>-->
            <!--<td ><input   type="text"   name="enname"  maxlength="20" value="{$category['enname']}"/>-->
            <!--</td>-->
        <!--</tr>-->

        <tr class="tdbg">
            <td  align="right"> 排序 ：</td>
            <td><input   type="text" name="sortid" value="{$category['sortid']}"  maxlength="2"/> <span class="gray">整数，小由到大排序</span></td>
        </tr>

        <tr class=tdbg>
            <td valign="middle" align="right">类别介绍：</td>
            <td><textarea rows="5" name="detail" id="detail" style="width:300px;height:100px">{$category['detail']}</textarea></td>
        </tr>

        <tr class="tdbg">
            <td></td>
            <td height="25"><input type="Hidden">
                <input type="hidden" name="id" value="{$category['id']}">
                <input type="submit" name="" class="btn" value="保 存"> &nbsp;&nbsp;&nbsp;&nbsp;
                <input name="" type="Reset" class="btn" value="取 消"></td>
        </tr>
        <tr>
            <td colspan="2" height="20"></td>
        </tr>

    </table>
</form>



{/block}