{extend name='layout/public'/}

{block name='content'}

    <script language='javascript'>if (parent.$$('admincpnav')) parent.$$('admincpnav').innerHTML = '后台首页&nbsp;&raquo;&nbsp;留言&nbsp;&raquo;&nbsp;留言添加';</script>

    <script type="text/javascript" src="/console/js/calendar/calendar.js"></script>
    <script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="/ueditor/ueditor.all.min.js"></script>

    <form   method="post" action="{:url('store')}">
        <table class=tb width="100%" id="tb">
            <tr class=thead>
                <th colspan=2>留言添加</th>
            </tr>

            <tr class=tdbg>
                <td valign="middle" align="right"><span class=red>*</span>标题：</td>
                <td><input name="messagetitle" type="TEXT" style='width:380px;' maxlength=200></td>
            </tr>

            <tr class=tdbg>
                <td valign="middle" align="right"><span class=red>*</span>被回复的留言id：</td>
                <td><input name="beimessageid" type="TEXT" style='width:380px;' maxlength=200></td>
            </tr>

            <tr class=tdbg>
                <td valign="middle" align="right"><span class=red>*</span>文章id：</td>
                <td><input name="articleid" type="TEXT" style='width:380px;' maxlength=200></td>
            </tr>

            <tr class=tdbg>
                <td valign="middle" align="right"><span class=red>*</span>留言者id：</td>
                <td><input name="messagerid" type="TEXT" style='width:380px;' maxlength=200></td>
            </tr>

            <tr class=tdbg>
                <td valign="middle" align="right"><span class=red>*</span>被留言者：</td>
                <td><input name="beimessagerid" type="TEXT" style='width:380px;' maxlength=200></td>
            </tr>


            <tr class=tdbg>
                <td valign="top" align="right"><span class=red>*</span>内容：<br></td>

                <td valign="top">

                    <!--  编辑器的配置 -->
                    <textarea name="content" id="content" style='width:380px; height: 180px'></textarea>
                    <!--<script type="text/javascript">-->
                        <!--var editor = UE.getEditor('content',{-->
                            <!--serverUrl: "{:url('/admin/Ueditor/index')}"-->
                        <!--});-->
                    <!--</script>-->

                </td>
            </tr>

            </tr>
            <tr class=tdbg>
                <td valign="middle" align="right"><span class=red>*</span>日期</td>
                <td>&nbsp;
                    <INPUT NAME="addtime" value="<?php echo date('Y-m-d H:i',time());?>" id="pubdate" TYPE="TEXT"
                           SIZE=30 maxlength=30>
                </td>
            </tr>

            <tr class=tdbg>
                <td valign="middle" align="right">状态：</td>
                <td valign="middle">
                    <input type=radio class="np" name=checked value=1 checked>已审核
                    <input type=radio class="np" name=checked value=0>待审核
                </td>
            </tr>

            <tr class="tdbg">
                <td ></td>
                <td align="left" >
                    <input class="btn" type="submit" value="确定" name="">
                    &nbsp;
                    <input type="reset" value="清 除" name="" class="btn">
                </td>
            </tr>
        </table>
    </form>

{/block}


{block name='js'}
<script type="text/javascript" charset="utf-8" src="http://console.uicdn.cn/assets/js/webuploader/webuploader.min.js "></script>
<script type="text/javascript" charset="utf-8" src="http://console.uicdn.cn/assets/js/uploader.js"></script>
<script language="javascript" type="text/javascript">

    $(function () {
        $(".upload-img").InitUploader({sendurl: "{:url('/admin/tools/upload')}", swf: "http://console.uicdn.cn/assets/js/webuploader/uploader.swf" });
    })

    Calendar.setup({
        inputField: "pubdate",
        ifFormat: "%Y-%m-%d %H:%M",
        showsTime: true,
        position: [0, 0],
        timeFormat: "24"
    });
</script>
{/block}



