<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>善微网站后台管理系统(SanWays Cms v2.0)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <link href="/console/img/admin.css" rel="stylesheet" type="text/css" />
    <script src='/console/js/jquery-1.7.1.min.js' language="javascript" type="text/javascript"></script>
    <script src="/console/js/main.js" type="text/javascript"></script>
</head>
<body >
<script language="javascript">
    if(top == self){
        location.href = "/admin/";
    }

</script>
<div class="container" id="cpcontainer">
    <script type="text/JavaScript">if(parent.$$('admincpnav')) parent.$$('admincpnav').innerHTML='后台首页';</script>

    <table class="tb">
        <!--<tr class="thead"><td colspan="4">服务信息</td></tr>
        <tr><td colspan="4"><div id="update"><font color='red'>请稍等，正在加载服务信息...</font></div> </td></tr>-->
        <tr class="thead"><td colspan="4">站点信息</td></tr>
        <tr>
            <td width="100">服务器类型：</td><td width="400">(IP:{:$_SERVER['SERVER_NAME'].' [ '.gethostbyname($_SERVER['SERVER_NAME']).' ]'})</td>
            <td width="100">脚本解释引擎：</td><td>{:$_SERVER["SERVER_SOFTWARE"]}</td>
        </tr>
        <tr>
            <td>PHP版本：</td><td>{:phpversion()}</td>
            <td>服务器名：</td><td>{:PHP_OS}</td>
        </tr>
        <tr>
            <td>上传附件限制：</td><td><b>{:ini_get('upload_max_filesize')}</b></td>
            <td></td><td><b></b></td>
        </tr>

    </table>

</div>
</div>
</body>
</html>