{extend name='layout/public'/}

{block name='content'}
    <script language='javascript'>if (parent.$$('admincpnav')) parent.$$('admincpnav').innerHTML = '后台首页&nbsp;&raquo;&nbsp;广告&nbsp;&raquo;&nbsp;分类添加';</script>

    <form method="POST"    action="{:url('store')}">
        <table width="100%" class="tb" id=tb>
            <tr class=thead>
                <th colspan="2">类别添加</th>
            </tr>
            <tr class="tdbg">
                <td width="88"  align="right"><span class=red>*</span> 所属类别：</td>
                <td   align="left" >
                    <select name="parentid" style="color:#000000;">
                <option value='0'>所属类别</option>
                {foreach name='categorys' key='key' item='vo'}
                <option value="{$vo['id']}">{$vo['_cnname']}</option>
                {/foreach}

            </select></td>
            </tr>
            <tr class="tdbg">
                <td  align="right"><span class=red>*</span>  类别名称 ：</td>
                <td ><input   type="text"   name="cnname"  maxlength="20" value=''/>
                </td>
            </tr>

            <tr class="tdbg">
                <td  align="right"> 英文名称 ：</td>
                <td ><input type="text"   name="enname"  maxlength="20" value=""/>
                </td>
            </tr>

            <tr class="tdbg">
                <td  align="right"> 排序 ：</td>
                <td><input   type="text" name="sortid"  maxlength="2"/> <span class="gray">整数，小由到大排序</span></td>
            </tr>

            <tr class=tdbg>
                <td valign="middle" align="right">类别介绍：</td>
                <td><textarea rows="5" name="detail" id="detail" style="width:300px;height:100px"></textarea></td>
            </tr>

            <tr class="tdbg">
                <td></td>
                <td height="25"><input type="Hidden">
                    <input type="submit" name="" class="btn" value="保 存"> &nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="" type="Reset" class="btn" value="取 消"></td>
            </tr>
            <tr>
                <td colspan="2" height="20"></td>
            </tr>

        </table>
    </form>




{/block}