
{extend name='layout/public'/}

{block name='content'}



<form action="" method="post">
    <table class="tb" id=tb>
        <tr class="thead">
            <th colspan="7">密码修改</th>
        </tr>
        <tr>
            <td width="18%" align="right"><span class=red>*</span> 原始密码：</td>
            <td width="82%" colspan="2"><input name="password" type="password" size="20" maxlength="20"
                                               autocomplete="off"></td>
        </tr>
        <tr>
            <td width="18%" align="right"><span class=red>*</span> 新密码：</td>
            <td width="82%" colspan="2"><input name="new_password" type="password" size="20" maxlength="20"
                                               autocomplete="off"></td>
        </tr>
        <tr>
            <td align="right"><span class=red>*</span> 确认新密码：</td>
            <td colspan="2"><input name="confirm_password" type="password" size="20" maxlength="20"
                                   autocomplete="off">
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2"><input type="submit" name="Submit" class=btn value=" 提 交 ">
                <input type="hidden" name="act" value="ModSave"></td>
        </tr>
    </table>
</form>

{/block}