{extend name='layout/public'/}

{block name='content'}
<script language='javascript'>if (parent.$$('admincpnav')) parent.$$('admincpnav').innerHTML = '后台首页&nbsp;&raquo;&nbsp;移动端模板&nbsp;&raquo;&nbsp;移动端模板管理';</script>

<table class=tb width="100%">
    <tr class=thead>
        <th colspan=7>移动端模板管理</th>
    </tr>


    <form name="iForm" id="iForm" action="" method="post">
        <tr class="dtit">
            <td width="90%">名称</td>
            <td width="10%">操作</td>
        </tr>

        <!--判断是否为文件-->
        {if condition="!empty($array['file'])"}
        <!--循环输出文件-->
        {foreach name="array['file']" item="arr"}
        <tr class="tdbg li">
            <td><a href="edit?root={$path}&filename={$arr}">{$arr}</a></td>
            <td><a href="edit?root={$path}&filename={$arr}">编辑</a></td>
        </tr>
        {/foreach}
        {/if}
        <!--判断是否为文件夹-->
        {if condition="!empty($array['dir'])"}
        <!--循环输出文件夹-->
        {foreach name="array['dir']" item="arr"}
        <tr class="tdbg li">
            <td><a href="index?root={$path}&dirname={$arr}">{$arr}</a></td>
            <td><a href="index?root={$path}&dirname={$arr}">查看</a></td>

        </tr>
        {/foreach}
        {/if}
    </form>
</table>

{/block}
