{extend name='layout/public'/}

{block name='content'}

<script language='javascript'>if (parent.$$('admincpnav')) parent.$$('admincpnav').innerHTML = '后台首页&nbsp;&raquo;&nbsp;信息&nbsp;&raquo;&nbsp;添加信息';</script>

<script type="text/javascript" src="/console/js/calendar/calendar.js"></script>
<script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/ueditor/ueditor.all.min.js"></script>

<form method="POST" action="{:url('store')}" enctype="multipart/form-data">
    <table class=tb width="100%" id="tb">
        <tr class=thead>
            <th colspan=2>信息添加</th>
        </tr>

        <tr class="tdbg">
            <td width="88" valign="middle" align="right"><span class=red>*</span> 所属类别：</td>
            <td height="0" align="left" valign="middle">

                <select name="smallclassid">
                    <option value="">请您选择信息类别</option>
                    {foreach name='categorys' item='vo'}
                    <option value="{$vo['id']} ">{$vo['_cnname']}</option>
                    {/foreach}
                </select>
                <span class=gray></span>
            </td>
        </tr>

        <tr class=tdbg>
            <td valign="middle" align="right"><span class=red>*</span> 信息标题：</td>
            <td><input name="title" type="TEXT" style='width:380px;' maxlength=200>
                属性：<input type="checkbox" name="commend" value=1> [推荐]&nbsp;
            </td>
        </tr>

        <!--<tr class=tdbg>-->
            <!--<td valign="middle" align="right">副标题：</td>-->
            <!--<td><input name="dititle" type="TEXT" style='width:380px;' maxlength=200></td>-->
        <!--</tr>-->

        <tr class=tdbg>
            <td valign="middle" align="right">信息来源：</td>
            <td><input name="original" type="TEXT" style='width:200px;' maxlength=35 value="">&nbsp;&nbsp;
                信息编辑：<input value="" name="author" type="TEXT" style='width:200px;' maxlength=35>&nbsp;&nbsp;
                点击率：<input value="1" name="hits" type="TEXT" style='width:60px;' maxlength=4>
            </td>
        </tr>

        <tr class=tdbg>
            <td valign="middle" align="right">缩略图：</td>
            <td valign="middle">
                <input name="smpic" type="text" value="" id="smpic" class="input normal upload-path"/>
                <div class="upload-box upload-img"></div>
                <span class=gray>缩略图内存大小 200K 左右</span>
            </td>
        </tr>

        <tr class=tdbg>
            <td valign="middle" align="right">关键字：</td>
            <td>
                <INPUT NAME="tags" TYPE="TEXT" id=tags style='width:300px;' maxlength=100>
                <span class=gray>关键字之间用半角“,”隔开。</span></td>
        </tr>
        <tr class=tdbg>
            <td valign="middle" align="right">内容摘要：</td>
            <td><textarea rows="5" id="detail" name="detail" style="width:300px;height:50px"></textarea>
            </td>
        </tr>

        <tr class=tdbg>
            <td valign="top" align="right"><span class=red>*</span> 信息内容：<br></td>

            <td valign="top">

                <!--  编辑器的配置 -->
                <textarea name="content" id="content"></textarea>
                <script type="text/javascript">
                    var editor = UE.getEditor('content', {
                        serverUrl: "{:url('/admin/Ueditor/index')}"
                    });
                </script>

            </td>
        </tr>

        <tr class=tdbg>
            <td valign="middle" align="right">发布日期：</td>
            <td>&nbsp;
                <INPUT NAME="addtime" value="<?php echo date('Y-m-d H:i',time());?>" id="pubdate" TYPE="TEXT"
                       SIZE=30 maxlength=30>
            </td>
        </tr>

        <tr class=tdbg>
            <td valign="middle" align="right">状态：</td>
            <td valign="middle">
                <input type=radio class="np" name=checked value=1 checked>已审核
                <input type=radio class="np" name=checked value=0>待审核
            </td>
        </tr>

        <tr class="tdbg">
            <td></td>
            <td align="left">
                <input class="btn" type="submit" value="确定">
                &nbsp;
                <input type="reset" value="清 除" class="btn">
            </td>
        </tr>
    </table>
</form>


{/block}


{block name='js'}
<script type="text/javascript" charset="utf-8"
        src="http://console.uicdn.cn/assets/js/webuploader/webuploader.min.js "></script>
<script type="text/javascript" charset="utf-8" src="http://console.uicdn.cn/assets/js/uploader.js"></script>
<script language="javascript" type="text/javascript">

    $(function () {
        $(".upload-img").InitUploader({
            sendurl: "{:url('/admin/tools/upload')}",
            swf: "http://console.uicdn.cn/assets/js/webuploader/uploader.swf"
        });
    })

    Calendar.setup({
        inputField: "pubdate",
        ifFormat: "%Y-%m-%d %H:%M",
        showsTime: true,
        position: [0, 0],
        timeFormat: "24"
    });
</script>
{/block}



